<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="containerInput">
            <label>
                <input type="file" (change)="selectFile($event)" hidden /> <i class="material-icons">add</i>
            </label>
        </div>
        <button class="upload" [disabled]="!selectedFiles" (click)="upload()">
            <i class="material-icons">file_upload</i>
        </button>
    </div>

    <br>

    <div class="line"></div>
    <div class="containerUploads" *ngFor="let file of fileUploads">
        <div class="fileIcon"><i class="material-icons">download_for_offline</i></div>
        <div class="fileName">
            <div>{{file.name}}</div>
            <div>
              <ng-container *ngFor="let star of stars;">
                <app-star-rating (starEnter)="onStarEnter($event)" (starLeave)="onStarLeave()" (starClicked)="onStarClicked($event)" [starId]="star" [rating]="hoverState || rating"  
                (bigClick)="updateRating(stars)">
              </app-star-rating>
              </ng-container>
                <!--<span [ngStyle] = "defaultColor1" (click)= "fillStarColor1()" class="material-icons">star_rate</span>
                <span [ngStyle] = "defaultColor2" (click)= "fillStarColor2()" class="material-icons">star_rate</span>
                <span [ngStyle] = "defaultColor3" (click)= "fillStarColor3()" class="material-icons">star_rate</span>
                <span [ngStyle] = "defaultColor4" (click)= "fillStarColor4()"class="material-icons">star_rate</span>
                <span [ngStyle] = "defaultColor5" (click)= "fillStarColor5()" class="material-icons">star_rate</span>-->
              </div>
        </div>
    </div>

    <!--<app-star-rating [ngStyle] = "defaultColor" (starColorEvent)="fillStarColor($event)"></app-star-rating>-->


</body>