<div class="container">
    <span>#tags</span>
</div>

<div class="AußenContainer2">
    <div class="container2">
        <div class="items">Einführung in die Programmierung</div>
        <div class="items">Softwaretechnik 2</div>
        <div class="items">Angewandte Unternehmensführung</div>
        <div class="items">Projektmanagement</div>
        <div class="items">Algorithmen und Datenstrukturen</div>
        <div class="items">Statistik</div>
        <div class="items">Lineare Algebra</div>
        <div class="items">Programmierkurs 1</div>
        <div class="items">IT-Infrarstruktur</div>
        <div class="items">Web-Technologien</div>
        <div class="items">Datenbanken</div>
        <div class="items">DV-Recht</div>
        <div class="items">OCM</div>
        <div class="items">BWL</div>
        <div class="items">IT-Geschäftsprozessmanagement</div>
        <div class="items">Einführung in die WI 1</div>
        <div class="items">Buchführung und Jahresabschluss</div>
        <div class="items">Logistikmanagement</div>
        <div class="items">Mobile App Engineering</div>
        <div class="items">Künstliche Intelligenz</div>
    </div>
</div>